[apply]

	whitespace = fix

[branch]

	sort = -committerdate

[push]

	autoSetupRemote = true

[init]

	defaultBranch = main

[alias]

	cob = checkout -b
	aa = add -A .
	cam = commit -am
	po = push origin
